# Files created during the runtime
SLCBInternationalHello/Settings/settings.js
SLCBInternationalHello/Settings/settings.json

# OSX
.DS_Store

# git
.git

# PyCharm
.idea

# Virtual Environment
venv/

# Compiled files
*.pyc
test-reports/
SLCBInternationalHello.zip
